body {
    color: #000000;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    color: #EEBC1D;
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #EEBC1D;
    background-color: #000000;
    font-family: 'Oswald';
    font-weight: normal;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
    color: #EEBC1D;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #FFCC33;
}

.top-container {
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    padding: 50px 0 20px;
}

.layout {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 720px) {
  .layout {
    flex-direction: row;
  }
}

.underline {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}

.website {
  padding-top: 50px;
  width: 250px;
}

.codecademy {
  padding-left: 65px;
  padding-top: 50px;
  width: 250px;
}

.cert {
  padding-top: 50px;
  width: 250px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    color: #EEBC1D;
    font-size: 0.90rem;
    padding: 20px 0;
}

.Ahmed {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
